.active-page{
  background-color: #D3D3D3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  color: black;
  margin-right: 2px;
  margin-left:2px;
}

.active-page:hover{
  text-decoration: none;
  color: black;
}

.nonactive-page{
  text-decoration: none;
  color: black;
}

.nonactive-page:hover{
  text-decoration: none;
  color: black;
}

#nav{
margin-right:auto;
margin-left: auto;
margin-bottom: 15px;
padding: 10px;

font-family: 'Open Sans Condensed', sans-serif;
font-size: 25px;

text-align: left;
}

/*home page classes*/

.homepage-page-bg{
  color: white;
  background-image: url("../images/fries.jpg");
  vertical-align: middle;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-color: trasnparent;
  background-size: cover;
}

.homepageimage{
  font-size: 140px;
  padding: 10px;
  color: white;
  background-image: url("../images/fries.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 800px;
  text-align: center;
  padding-top: 100px;
  font-family: 'Amatic SC', cursive;

}

.footer{
  margin-bottom: 90px;
  font-family: 'Amatic SC', cursive;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 90px;S\
}

.footerdescription{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.toptext{
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 90px;
}

.welcometext{
  color: black;
  font-size: 90px;
}

.footertext{
  font-size: 80px
}

.centerfooter{
  text-align:center;
}

/*Menu classes*/

.menuimage{
  color: white;
  background-image: url("../images/knife.jpg");
  vertical-align: middle;
  height: 1025px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-color: transparent;
  background-size: cover;
}

.sumgrub{
  font-size: 80px;
  color: black;
  margin-top: 50px;
  font-family: 'Amatic SC', cursive;
}

.fda{
  font-size: 14px;
  color: black;
}
.menufooter{
  margin-bottom: 0px;
}

.bubbleburger{
  margin-top: 35px;
  margin-bottom:30px;
}

.bubbburg{
  font-size: 55px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.angus{
  font-size: 25px;
  color: black;
}

.goodsalad{
  margin-top: 35px;
  margin-bottom: 30px;
}

.poppin{
  font-size: 55px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.salad{
  font-size: 25px;
  color: black;
}

.bubblewrap{
  margin-top:35px;
  margin-bottom: 30px;
}

.wrap{
  font-size: 55px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.kids{
  font-size: 25px;
  color: black;
}

.french{
  margin-top: 35px;
  margin-bottom: 30px;
}

.fryfrench{
  font-size: 55px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.storebrand{
  font-size: 25px;
  color: black;
}

.quesidilla{
  margin-top: 35px;
}

.bubblequeso{
  font-size: 55px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.mextreat{
  font-size: 25px;
  color: black;
}

/*about page classes*/

.aboutpageheader{
  font-size: 100px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.history{
  font-size: 20px;
}

.bubblesimage{
  margin-top: 25px;
}

.noeat{
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
}

.burgerimage{
  margin-top: 25px;
}

.insurance{
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
}

.aboutpagefooter{
  margin-bottom: 100px;
}

/*safest food on the block text on homepage*/

.safefood{
  text-align: center;
  margin-top: 250px;
  color: white;
}

/*dessert classes*/

.raindropimage{
  font-size: 60px;
  padding: 10px;
  color: white;
  background-image: url("../images/raindrop.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 799px;
  text-align: center;
  padding-top: 100px;
  margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    margin-top: 100px;
}


.raindropdescription{
  font-size: 30px;
  color: black;
  padding-left: 50px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;
}

.dishofdayheader{
  font-size:90px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
